{% extends "base.html" %} {% block title %}
<title>About Page</title>
{% endblock %} {% block content %}
<div class="flex items-center justify-center p-10 space-x-8">
  <!-- Image on the left -->
  <div class="flex-shrink-0">
    <img
      src="/static/hitesh the goat.png"
      alt="Hitesh"
      class="w-64 h-auto rounded-xl shadow-lg"
    />
  </div>

  <div class="max-w-xl">
    <h1 class="text-3xl font-bold mb-4">About Me</h1>
    <p class="text-lg leading-relaxed">
      In the past, I have worked with many companies and on various roles such
      as Cyber Security related roles, iOS developer, Tech consultant, Backend
      Developer, Content Creator, CTO, and these days, I am at a full-time job
      as Senior Director at PW (Physics Wallah). I have done my fair share of
      startups too. My last startup was LearnCodeOnline where we served 350,000+
      users with various courses, and the best part was that we were able to
      offer these courses at pricing of 299- 399 INR — crazy right 😱? But that
      chapter of life is over and I am no longer in charge of that platform. I
      think we have already complicated the frontend too much, so I am opting
      for a simpler solution for my home page — and this is one of the fastest
      web pages on the internet.
    </p>
  </div>
</div>
{% endblock %}
